.hero {
  overflow: hidden;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-image: url('/assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Tenor-Sans', sans-serif;
}

.hero-left {
  position: relative;
  z-index: 1;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  /* justify-content: center; */
  color: #e8d7d7;
  letter-spacing: 1.3px;
}

.hero-right {
  position: relative;
  z-index: 1;
  width: 40%;
  height: 80%;
  display: flex;
  /* justify-content: flex-start; */
  padding-top: 8%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.glass-card {
  height: 100%;
  width: clamp(250px, 75%, 420px);

  background: rgba(88, 41, 41, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 40px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.month-title {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d1b6b6;
}

.crystal-name {
  color: rgb(255, 139, 139);
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.crystal-image {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
}

.crystal-blurb {
  width: 80%;
  font-size: 0.9rem;
  line-height: 1.2;
  /* color: rgb(133, 27, 27); */
}

.hero-right h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-right p {
  color: #ffffffcc;
}