* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1;
}


@font-face {
  font-family: 'Tenor Sans';
  src: url('/fonts/Tenor-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



